.site-title{
    font-family:Manrope;
    font-weight: bold;
    font-size:40px;
    margin: 1em 0 1em 0;
}

.site-subtitle{
    font-family:Manrope;
    font-weight: bold;
    font-size:27px;
    color:#606060;
}

.site-location{
    font-family:Manrope;
    font-weight: bold;
    font-size:27px;
    margin:0;
}
